<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>08.04.2021</title>
</head>
<body>
<div id="app" style="border: 1px solid gray">
    <label>
        <input type="number" v-model="a"/>
    </label>
    <label>
        <select v-model="operator">
            <!--        <option v-for=" col of operation" >{{ col }}</option>-->
            <option value="+">+</option>
            <option value="-">-</option>
            <option value="*">*</option>
            <option value="/">/</option>
        </select>
    </label>
    <label>
        <input type="number" v-model="b"/>
    </label>
    =  {{ calculate }}

    <!--    <button @click="calculate">=</button>-->
    <div class="alert alert-info" role="alert">
        <h4 v-cloak>Результат вычисления: {{ a }} {{operator}} {{ b }} = {{ calculate }}</h4>
    </div>

</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script src="src/app.js"></script>
</body>
</html>


let currentDate = new Date();
let birthDate = inputValue;
let difference = currentDate - birthDate;
let age = Math.floor(difference/31557600000);
return age